/* :root {
    color
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;
} */

* {
    margin: 10px 20px 10px 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

li {
    list-style-type: none;
}

input {
    background-color: transparent;
    border: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #8C9097;
}

.header_left {
    display: flex;
    justify-content: space-between;
}

.top_section {
    display: flex;
    margin: auto;
    padding: 0;
}

.top_section_top {
    display: flex;
    justify-content: space-between;
}

.top_section2 {
    display: flex;
    justify-content: space-around;
}

.top_section_right {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0px;
}

.category {
    width: 120px;
    height: 120px;
    background-color: #3b88c3;
    padding: 20px;
    color: white;
}
.category i {
    font-size: 40px;
    text-align: center;
}

.search_btn {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #3b88c3;
}

.search_btn:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
}

.search_text {
    padding-left: 5px;
    font-weight: bold;
}

.serach_icon {
    background-color: #fd7f84;
    border-radius: 50%;
    padding: 5px;
    color: #ffffff;
}

.logo {
    font-size: 50px;
    color: #893AE1;
    font-weight: bold;
}

.my_menus {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menus {
    display: flex;
    justify-content: space-between;
}

.photo_section {
    display: flex;
    justify-content: space-between;
}

.side_photo {
    text-align: center;
    vertical-align: text-top;
}